.navbar{
    text-align: center;
    background-color:yellowgreen;
    color: white;
    position: sticky;
    top: 0;
}
.navbar>h3{
    cursor: pointer;
}
.navbar>h3:hover{
    color: rgb(158, 26, 26);
}